    <web-app>  
      
    <servlet>  
    <servlet-name>EcommerceServlet</servlet-name>  
    <servlet-class>main.java.com.absyz.core.EcommerceServlet</servlet-class>  
    </servlet>  
      
    <servlet-mapping>  
    <servlet-name>EcommerceServlet</servlet-name>  
    <url-pattern>/Ecommerce</url-pattern>  
    </servlet-mapping>  
    
    <servlet>
		<servlet-name>UploadFile</servlet-name>
		<servlet-class>main.java.com.absyz.core.UploadFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFile</servlet-name>
		<url-pattern>/UploadFile</url-pattern>
	</servlet-mapping>
     
     <servlet>
   <servlet-name>UploadServlet</servlet-name>
   <servlet-class>main.java.com.absyz.core.UploadServlet</servlet-class>
</servlet>

<servlet-mapping>
   <servlet-name>UploadServlet</servlet-name>
   <url-pattern>/UploadServlet</url-pattern>
</servlet-mapping>
	      <servlet>
   <servlet-name>Application</servlet-name>
   <servlet-class>main.java.com.absyz.core.Application</servlet-class>
</servlet>

<servlet-mapping>
   <servlet-name>Application</servlet-name>
   <url-pattern>/Application</url-pattern>
</servlet-mapping>
	    <servlet>
	     <servlet-name>AmazonS3Example</servlet-name>
   <servlet-class>main.java.com.absyz.core.AmazonS3Example</servlet-class>
</servlet>

<servlet-mapping>
   <servlet-name>AmazonS3Example</servlet-name>
   <url-pattern>/AmazonS3Example</url-pattern>
</servlet-mapping>
	    <context-param> 
    <description>Location to store uploaded file</description> 
    <param-name>file-path</param-name> 
    <param-value>WebContent/images</param-value> 
</context-param>
    </web-app>  
